div {
    background: none;
}

table , th ,td{
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

table{
    height: 210px;
    width: 320px;
    margin-top: 70px;
    margin-bottom: 50px;
}

th , td{
    background-color: rgba(34, 34, 34, 1);
    padding-left: 10px;
}

th{
    text-align: left;
}

td{
    color: rgba(255, 255, 255, 0.5);
}

.chart{
    margin-left: 100px;
}

.BMI-title > .habit-text{
    text-align: left;
    margin-left: 380px;
}

.BMI-content {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    height: 800px;
    padding-top: 100px;
    background-color: rgba(34, 34, 34, 1);
}

.c-head{
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 0px;
}

.calc-title p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.calculator{
    margin-right: 150px;
    width: 500px;
    margin-left: 100px;
}

.information{
    margin-top: 40px;
}

.box{
    border: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 40px;
    width:210px;
    margin-bottom: 12px;
    margin-right: 10px;
    padding-left: 20px;
}

.select-1{
    width:232px ;
    color: rgba(255, 255, 255, 0.3);
}

.select-2{
    width: 478px;
    color: rgba(255, 255, 255, 0.3);
}

.sum{
    background-color:rgba(230, 83, 60, 1) ;
    color: white;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
}

