@media screen and (max-width: 600px) {
    .nav-bar {
        width: 750px;
    }
    
    .nav-options {
        display: none;
    }

    .ham-burger {
        display: block;
    }
    .ham-burger i {
        font-size: 26px;
    
    }

    .banner-container {
        display: inline-block;
        vertical-align: middle;
    }

    .banner-image img {
        background: none;
        position: relative;
        left: 250px;
        margin-top: 30px;
    }
    #badge-1 {
        position: absolute;
        right: -250px;
        top: 700px;
    }
    #badge-2 {
        position: absolute;
        left: 250px;
        top: 1000px;
    }
    
    
    .h-p-m {
        display: inline-block;
        margin-left: 150px;
        width: 500px;
    }

    .habit-images {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        margin-left: 50px;
    }

    .part-2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        height: fit-content;
        width: 570px;
    }
    .run-text {
        text-align: left;
        width: 500px;
        padding-left: 40px;
        background: none;
    }
    
    .run-text h3{
        text-align: left;
        font-weight: 900;
        font-size: 48px;
        line-height: 50px;
        margin-top: 30px;
        margin-bottom: 18px;
        background: none;
    }
    
    .run-text p {
        margin-top: 0;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 35px;
        opacity:0.5;
        background: none;
    }
    
    .run-text button{
        width: 360px;
        height: 55px;
        font-size: 18px;
        cursor: pointer;
        margin-left: 70px;    
    }
    
    .run-img{
        width: 450px;
        height: 310px;
        margin-bottom: 50px;
        margin-left: 60px;
        border-radius: 18px;
        background-position: 50% 150%;
        position: relative;
    }

    .BMI-content {
        display: inline-block;
        height: 800px;
    }

    .BMI-title > .habit-text {
        text-align: left;
        width: 500px;
        margin-left: 100px;
    }
    .uni-section {
        width: fit-content;
        margin-left: 0;
    }
    .result {
        margin-right: 100px;
    }

    .content-center > .habit-text {
        width: 400px;
        margin-left: 150px;
    }

    .team-rows {
        display: grid;
        grid-template-columns: 1fr;
        width: 350px;
        height: 1900px;
    }

    .footer-section {
        height: 1000px;
        width: fit-content;
    }
    .footer-main-div {
        display: grid;
        grid-template-rows: 0.25fr 0.75fr;
        height: 1000px;
    }
    
    .footer-text-1 {
        height: 200px;
    }

    .footer-text-2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .get-help {
        margin-bottom: 20px;
    }

}